<article class="capsule">
    <%= link_to capsule do %>
        <div>
            <%= image_tag capsule.poster, loading: "lazy", alt:"", width:"285" if capsule.poster.attached? %>
            <blockquote>
              <p>&ldquo;<%= capsule.quote %>&rdquo;</p>
            </blockquote>
        </div>
        <figcaption>
          <h3><%= capsule.first_name %></h3>
          <p>nous parle de 
            <% if capsule.charity.logo.attached? %>
              <%= image_tag(capsule.charity.logo) %>
            <% else %>
              <%= capsule.charity %>
            <% end %>
          </p>
        </figcaption>
    <% end %>
</article>
