<div id="<%= dom_id kit %>">
  <p>
    <strong>Name:</strong>
    <%= kit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= kit.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= kit.image %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= kit.category.name %>
  </p>

</div>
