<div class="row">
    <div class="offset-md-1 col-md-11">
        <section class="hero">
            <div class="hero__container">
                <div class="hero__content">
                    <div class="hero__text">
                        <p class="hero__text__hello">Bienvenue!</p>
                        <h1 class="hero__text__title">
                        <span class="font-logo">Share&Change</span> : la parole aux associations</h1>
                        <p>Share&Change est une plateforme conçue pour répondre aux besoins essentiels des nouveaux arrivants et des associations, en mettant à disposition des témoignages inspirants et des kits d’utilisation pratiques.
                        </p>
                    </div>
                </div>
                <div class="hero__image">
                  <%= image_tag "desktop-header.jpg", alt:"" %>
                </div>
            </div>
        </section>
  </div>
  <div class="offset-md-1 col-md-11">
        <section class="last-testimonials home-title">
            <h2>Nos derniers témoignages</h2>

            <div class="capsules_container">
                <div class="capsules">
                <% @capsules.each do |capsule| %>
                    <%= render capsule %>
                <% end %>
                <% if admin_signed_in? %>
                    <p class="link_page"><%= link_to "+ ajouter une vidéo", new_capsule_path(@capsule) %></p>
                <% end %>
                </div>
                <div class="capsules_link">
                    <%= link_to "+ Tous les témoignages", capsules_path %>
                </div>
            </div>


        </section>
        <section class="home-title">
            <h2>Kits numériques</h2>
            <p>Profitez de kits vous permettant d’apprendre à utiliser une multitude d’outils et d’optimiser votre impact en ligne. </p>
            <div>
              <% @kits.each do |kit| %>
                <div class="kits_content">
                    <%= link_to kit_path(kit), class:"kits_img_a" do %>
                        <%= image_tag kit.image, class: "kits_img" %>
                    <h3 class="kits_name"><%= kit.name %></h3>
                    <% end %>
                </div>
              <% end %>
            </div>
            <div class="kits_link">
            <%= link_to "+ Tous les kits numériques", kits_path %>
            </div>

        </section>

        <section class="home-title">
            <h2>Remerciement à ceux qui ont fait confiance à Share&Change !</h2>
            <p>Merci à tous ceux qui ont témoigné et qui nous font confiance. Si vous aussi vous souhaitez partager votre expérience et venir en aide aux personnes dans le besoin, <%= link_to "contactez-nous", contact_path , class:'thanks_contact' %> !</p>
        </section>
    </div>
</div>
